#tabHolder {
	display: none;
}

.tabContent {
	position: relative;
	margin: 0px;
	clear: both;
	float: left;
	z-index: 10;
}

#tabCont0, #tabCont1, #tabCont2, #tabCont3, #tabCont4, #tabCont5, #tabCont6, #tabCont7, #tabCont8, #tabCont9 {
	display: none;
}
	
.tabMenuOff {
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0px;
	cursor: pointer;
}

.tabMenuOn {
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0px;
	cursor: default;
}

#tabMenu0, #tabMenu1, #tabMenu2, #tabMenu3, #tabMenu4, #tabMenu5, #tabMenu6, #tabMenu7, #tabMenu8, #tabMenu9 {
	float: left;
	font-style: normal;
	padding-top: 3px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	z-index: 1100;
	bottom: -1px;
	position: relative;
	}

#tabOffset {
	float: left;
}
